body {
    font-family: Arial, sans-serif;
    background: url("../Projeto/cadastro-login/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 350px;
    background: transparent;
    border: 1px solid #9b9b9b;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 30px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 190px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 90%;
}

legend {
    border: 20px;
    font-weight: bold;
    color: #8EA638;
}

div {
    color: #8EA638;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-weight: bold;
    margin-bottom: 4px;
}


.login-link {
    margin-top: 10px;
    display: flex;
}

.login-link a {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #8EA638;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin: auto;
}

.login-link a:hover {
    color: #000;
    text-decoration: underline;
}

input.submit {
    color: #ffffff;
    background: #8EA638;
    font-size: 15px;
    width: 100px;
    margin: 0 auto;
}

input.submit:hover {
    background: #0a160d9a;
}

input.email {
    background-image: url("../Projeto/cadastro-login/email.png");
    padding-left: 35px;
    
}

input.senha {
    background-image: url("../Projeto/cadastro-login/cadeado.png");
    padding-left: 35px;
    color: #ff0000;
}

input.idade {
    background-image: url("../Projeto/cadastro-login/grupo-de-idade.png");
    padding-left: 35px;
    
}

input.nome {
    background-image: url("../Projeto/cadastro-login/do-utilizador.png");
    padding-left: 35px;
    
}

input.telefone {
    background-image: url('../Projeto/cadastro-login/chamada-telefonica.png');
    padding-left: 35px;
    
}

#voltar{
    width: 60px;
    margin: 0;
    position: absolute;
    left: 20px;
}
#voltar a img{
    display: block;
    width: 50px;
    margin: 0;
}