body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #3d86024d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 170px;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
}

input:focus {
    border-color: #3d8602;
    outline: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 90%;
}

legend {
    font-weight: bold;
}

div {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-weight: bold;
    margin-bottom: 4px;
}


.login-link {
    margin-top: 15px;
    text-align: center;
}

.login-link a {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-link a:hover {
    color: #000;
    text-decoration: underline;
}

input.submit {
    color: #ffffff;
    background: #3d86024d;
    font-size: 15px;
    width: 100px;
    margin: 0 auto;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    border-width:1px;
}

input.submit:hover {
    background: #0a160d9a;
}
