/* Formatação geral da pagina */
*{
    margin: 0;
    padding: 0;
}
body{
    
}

ul{
    list-style: none;
}

/* Formatando o menu de navegação */
#cabecalho{
    text-align: center;
    background: rgba(0, 128, 0, 0.247);
    display: flex;
    justify-content: center;
    gap: 350px;
    height: 120px;
    border-bottom: 1px solid #9e9d9d;
}
#img-cabecalho{
    font-size: 20px;
    position: relative;
    top: 5px;
}
#menu-cabecalho ul{
    padding: 10px;
    position: relative;
    top: 40px;
}
#menu-cabecalho li{
    padding: 0 25px;
    display: inline;
}
#menu-cabecalho a{
    /* border: 1px solid red; */
    position: relative;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
#menu-cabecalho a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

#menu-cabecalho a:hover::after {
    width: 100%;
}
#menu-cabecalho a.login::after,
#menu-cabecalho a.cadastro::after {
    display: none;
}
#menu-cabecalho a.cadastro{
    background: #e5d2b8;
    padding: 5px 20px;
    border-radius: 20px;
}
#menu-cabecalho a.login{
    
    background: #452814;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    position: relative;
    right: 25px;
}

/* Fim da Navegação */

/* Inicio do Cadastro/Login */

/* Final do Cadastro/Login */


/* Inicio do Conteudo */