/* Formatação geral da pagina */
*{
    margin: 0;
    padding: 0;
}

/* Formatação Geral do Cabeçalho */
header{
    background: #e5d2b8;
    border-bottom:1px solid #9b9b9b;
    width: 100%;
    font-weight: bold;
}

/* Formatando o menu de navegação */
#menu ul{
    text-align: center;
}

#menu li{
    margin: 0 20px;
    display: inline-flex;
    justify-content: space-around;
}

#menu a{
    background: #45281488;
    transition: color 0.3s ease;
    border: 1px solid #452814;
    border-radius: 10px;
    padding: 5px 20px;
    text-decoration: none;
    color: black;
    position: relative;
    top: -20px;
}
#menu a:hover{
    color: #2c2c2c;
    background: none;
    border: 1px solid #252525;
}
#menu img{
    width: 100px;
    position: relative;
    top: 20px;
}
/* Fim da Navegação */

/* Inicio do Cadastro/Login */

#entrar ul{
    display: flex;
    justify-content: end;
    list-style: none;
}
#entrar li{
    margin: 0 10px;
    position: relative;
    top: -110px;
    right: 20px;
}
#entrar a{
    background: #45281488;
    border: 1px solid #452814;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}
#entrar a:hover{
    color: #2c2c2c;
    background: none;
    border: 1px solid #252525;
}
/* Inicio do Cadastro/Login */


/* Inicio do Conteudo */

#container{
    width: 100%;
}

.forma1{
    background: white;
    height: 500px;
}
.forma2{
    background: #8ba838;
    height: 500px;
}